/*

Reference Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

*/

/* Body
------------------------------------- */


body {
	background-color: #ffffff;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
}

html,body {
	width: 100%;
	overflow-x: hidden;
}

html {
	height: 100%;
	font-size: 100%;
	position: relative;
}

div {
	text-align: center;
}

iframe {
	border: 0px;
}

/* Typography
------------------------------------- */
 h1,h2,h3,h4 {
 	font-weight: 100;
 	letter-spacing: 0.3rem;
	text-align: center;
 }

h1 {
	color: #000000;
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Lato', Arial, sans-serif;
}

h2 {
	color: #2f353b;
	font-size: 1.5rem;
	font-weight: 400;
}

h3 {
	color: #3a3a3a;
  font-size: 1.1rem;
	font-family: 'Lato', Arial, sans-serif;
  font-weight: 200;
  word-spacing: 1px;
  letter-spacing: 1px;
}

p {
  color: #3a3a3a;
  font-size: 16px;
	font-family: 'Lato', Arial, sans-serif;
  line-height: 28px;
  word-spacing: 1px;
  letter-spacing: 1px;
	text-align: center;
	padding: 0 50px;
}

/* navigation styles
/* ========================================== */

.main-nav ul {
	float: none;
	width: auto;
	margin-top: 55px;
	text-align: center;
}

.main-nav li{
	display: inline-block;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	margin: 0 20px;
	margin-right: 0;

}

.main-nav li a {
	display: block;
	color: #232323;
	letter-spacing: .25px;
	font-size: 22px;
}

.main-nav a:hover {
	background-color: #D3D3D3;
	color: #ffffff;
}
